[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "==8.18.1"
geopandas = "==1.16.0"
dask = "==2024.8.0"
matplotlib = "==3.9.4"
numpy = "==2.0.2"
pandas = "==2.1.4"
seaborn = "==0.13.2"
streamlit = "==1.30.0"

[dev-packages]

[requires]
python_version = "3.12"
